*.o
*.lo
*.la
.libs/
src/Makefile
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
cunit/Makefile
install-sh
librtgeom.h
libtool
ltmain.sh
rtin_wkt_lex.c
rtin_wkt_parse.c
rtin_wkt_parse.h
rttopo_config.h
