
LIBRTGEOM_VERSION=0.0.0

# Librtgeom interface versioning

# Current interface, increments when adding an interface
LIBRTGEOM_IFACE_CUR=0
# Age of current interface, only changes when current interface
# changes, either incrementing with it (compatible change) or
# going back to zero (incompatible change).
LIBRTGEOM_IFACE_AGE=0
# Revision of current interface, set to 0 when adding an interface
# or increment when just changing implementations.
LIBRTGEOM_IFACE_REV=0

